.fixed{
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: white;
    box-shadow: 0 .5rem 1rem rgba(190, 190, 190, 0.1);
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 140px;
    height: 90px;
    background-color: white;
    color: #fff;
    position: relative;
}


.logo {
    font-size: 32px;
    color: gray;
}
.logo img{
    width: 280px;
    height: 80px;
}


.globe{
    font-size: 20px; 
    color: gray;
    cursor: pointer;
}
